<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/home.css">
    <script src='/js/scripts.js' type='text/javascript'></script> 
    <title>Document</title>
</head>
<body>
    <form action="" method="POST">
        <div class="container">
            <div class="title">Seja bem vindo <%= data.name %>!</div> 
            <div style="display: flex; flex-direction:column;">
                <label for="name-reg" class="label">Nome do usuário</label>
                <input type="text" class="input" id="name-log" name="name" placeholder="nome" value="<%= data.name %>">                      
            </div>
    
            <br>
            <button type="submit" class="button">Editar</button>
        </div>
    </form>
</body>
</html>