<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="/css/login.css">
    <script src='/js/scripts.js' type='text/javascript'></script> 
</head>
</head>
<body>
    <form action="login" method="POST">
        <div class="container">
            <div class="title">Entrar</div> 
            <div style="display: flex; flex-direction:column;">
                <label for="name-reg" class="label">Email</label>
                <input type="text" class="input" id="email-log" name="email" placeholder="email" value="<%= data.email %>">                      
            </div>
            <div style="display: flex; flex-direction:column;">
                <label for="name-reg" class="label">Senha</label>
                <input type="password" class="input" id="pass-log" name="password" placeholder="senha" value="<%= data.password %>">                      
            </div>
    
            <br>
            <button type="submit" class="button">Entrar</button>

            <a href="signup">Ainda não sou cadastrado</a>
        </div>
    </form>
</body>
</html>

