<!DOCTYPE html>
<html lang="en">
<head>        
    <link rel="stylesheet" type="text/css" href="/css/signup.css">
    <script src='/js/scripts.js' type='text/javascript'></script> 
</head>
</head>
<body>
    <form action="signup" method="POST">
        <div class="container">
            <div class="title">Registrar</div> 

            <div style="display: flex; flex-direction:column;">
                <label for="name-reg" class="label">Nome</label>
                <input type="text" class="input" id="name-reg" name="name" placeholder="nome" value="<%= data.name %>">                      
            </div>
            <div style="display: flex; flex-direction:column;">
                <label for="name-reg" class="label">Email</label>
                <input type="text" class="input" id="email-reg" name="email" placeholder="email" value="<%= data.email %>">                      
            </div>
            <div style="display: flex; flex-direction:column;">
                <label for="name-reg" class="label">Senha</label>
                <input type="password" class="input" id="pass-reg" name="password" placeholder="senha" value="<%= data.password %>">                      
            </div>

            <div style="display: flex; flex-direction:column;">
                <label for="name-reg" class="label">Confirmar Senha</label>
                <input type="password" class="input" id="passconf-reg" name="confirmPassword" placeholder="confirmar senha" value="<%= data.confirmPassword %>">                      
            </div>
    
            <br>
            <button type="submit" class="button">Registrar</button>

            <a href="login">Já tenho uma conta</a>
        </div>
    </form>
</body>
</html>
