* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: #0f766e;
    display: flex;
    align-items: center;
    justify-content: center;
}

form {
    background-color: #f0fdfa;
    display: flex;
    align-items: center;
    justify-content: center;
    max-height: 800px;
    height: 85%;
    max-width: 1600px;
    width: 85%;
    border-radius: 10px;
    box-shadow: #000000 5px 10px 20px;
}

.container {
    /* background-color: rgb(156, 154, 154); */
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    flex-direction: column;
    flex-wrap: wrap;
}

.title {
    font-size: 45px;
    font-weight: bold;
    font-family: Ubuntu, "times new roman", times, roman, serif;
    margin-bottom: 50px;
    color: #0f766e;
    text-shadow: rgb(221, 221, 221) 0.1em 0.1em 0.2em;
}
.insert {
    display: flex; 
    flex-direction:column; 
    max-width: 700px;
    max-height: 400px;
    width: 45%; 
    height: 50%; 
}

.label {
    color: #7d7575;
    font-weight: bold;
    font-family: Ubuntu, "times new roman", times, roman, serif;
    margin-bottom: 5px;
    margin-left: 5px;
}

.input {
    background-color: rgb(227, 224, 224);   
    width: 100%;
    height: 100%;
    margin-bottom: 25px; 
    border: 0 none;
    outline: 0;
    box-shadow: #c0bebe 3px 5px 10px;
    font-size: 15px;
    font-family: Ubuntu, "times new roman", times, roman, serif;
    padding: 12px 16px 14px;
    color: #0f766e;    
}


.button {
    background-color: #0f766e;
    max-width: 300px;
    min-width: 50px;
    width: 90%;
    height: 50px;   
    border: 0 none;
    font-size: 20px;
    border-radius: 10px;
    box-shadow: #c0bebe 3px 5px 10px;
}
