<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src='/js/scripts.js' type='text/javascript'></script>
    <title>Create User</title>
</head>
<body>
    <form action="newUser" method="post">
        <div>
            <label>Nome</label>
            <input type="text" name="nome" value="<%= data.nome %>"> 
        </div>
        <div>
            <label>Sobrenome</label>
            <input type="text" name="sobrenome" value="<%= data.sobrenome %>"> 
        </div>        
        <label for="cars">Tipo:</label>
        <select id="people_type" onChange="update()">
            <option value="volvo">Pessoa Física</option>
            <option value="saab">Pessoa Jurídica</option>
        </select>

        <h1 id="teste" >visível</h1>
        <br>
        <input type="submit" value="Cadastrar" />
    </form>
</body>
</html>