<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/insertDescription.css">
    <script src='/js/scripts.js' type='text/javascript'></script>
    <title>Create User</title>
</head>
<body>
    <form action="insertDescription" method="post">
        <div class="container">
            <label class="title">Descritivo do Projeto</label>
            <div class="insert">
                <label class="label">Descritivo</label>
                <textarea 
                    class="input"
                    placeholder="Insira o descritivo do projeto"
                    value="<%= data.descritivo %>"
                    required
                ></textarea>
            </div>
            <br>
            <input type="submit" class="button" value="Inserir" />
        </div>
    </form>
</body>
</html>